@model ExamChess.ViewModels.GameViewModel

@Styles.Render("~/Content/BoardStyle.css")

@if (Model != null)
{
    <div id="board"></div>
    <!-- <div class="checkerCircle"></div> -->

@*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
<script language="javascript" src="../Scripts/BoardLoad.js"></script>
<script>
    $.ajax({
        url: '@Url.Action("GameReturnBoard")',
        method: 'GET',
        data: {
            id: @Model.Id
        },
        success: function(data) {
            GameInfoJson(data);
        }
    })
        @*$.ajax({
            url: '@Url.Action("GameBoardJson")',
            method: 'GET',
            data: {
                gameId: @Model.Id
            },
            success: function(data) {
                GetCheckerJson();
            }
        })*@
   
</script>
}