@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/BoardStyle.css")

<div class="jumbotron">
    <h1>Game of chess</h1>
    <p class="lead">Fun and educational. Meet new friends. Practice your skills.</p>
</div>

<div class="registerButtons">
        <button type="button" class="registerButton btn btn-primary">Register</button>
        <button type="button" class="logInButton btn btn-primary">Log In</button>
</div>

<div id="register">
    @Html.Partial("Partial/RegisterPartialView", new ExamChess.ViewModels.UserViewModel())
</div>

<div id="login">
    @Html.Partial("Partial/LogInPartialView", new ExamChess.ViewModels.LogIn())
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(".registerButton").click(() => {
            $.ajax({
                url: '@Url.Action("Register")',
                method: 'GET',
                success: function (data) {
                    $("#register").html(data);
                    $("#modalRegister").modal("show");
                }
            })
    })

    $(".logInButton").click(() => {
        $.ajax({
            url: '@Url.Action("Login")',
            method: 'GET',
            success: function (data) {
                $("#login").html(data);
                $("#modalLogin").modal("show");
            }
        })
    })
</script>